/* Ensure KaTeX Math is not styled as code */
.katex {
  font-size: 1rem;
  display: inline;
  white-space: normal;
}

.katex-display {
  display: block;
  margin: 1em 0;
}

pre, code {
  background: none !important;
  padding: 0 !important;
  border: none !important;
}
code.language-math {
  background: none !important;
  padding: 0 !important;
  border: none !important;
  color: inherit !important;
  font-family: inherit !important;
}
