/* custom-katex.css */
:root {
  --katex-font-size: 1rem !important;
  --katex-color: inherit !important;
  --katex-background: none !important;
}

.katex {
  font-size: var(--katex-font-size);
  color: var(--katex-color);
  background: var(--katex-background);
}

.katex-display {
  text-align: center !important;
  display: block !important;
  margin: 1rem 0 !important;
}

